.about-main-view {
	overflow-y: none;
	.row {
		div {
			.about-text {
				position: fixed;
				float: left;
				width: 40%;
				margin-top: 15vh;
				margin-left: 2em;
				clear: none;
				p {
					font-family: "futura-pt";
					font-weight: 100;
					font-size: em(20);
					text-align: center;
					a {
						color: hotpink !important;
						&:hover {
							text-decoration: none;
							color: #00c3ff !important;
						}
					}
				}
			}
			.about-image {
				margin-top: -6.5em;
				margin-right: -1em;
				float: right;
				height: 101vh;
				width: 51%;
				background-image: url('../../../assets/img/bb_action.jpg');
				background-position: center center;
				background-size: cover;
			}
		}
	}
}

@media (max-width: em(950)) {
	.about-main-view {
		.row {
			div {
				.about-text {
					position: relative !important;
					float: none;
					clear: both;
					margin-left: 1em;
					width: 90%;
					height: auto;
					margin-top: 1em;
					p {
					}
				}
				.about-image {
					height: 35em;
					width: 120vw;
					float: none;
					margin-top: 1em;
					margin-right: 0em;
					margin-left: -4em;
					background-size: 92% !important;
					background-repeat: no-repeat;
					background-position: center 2em;
				}
			}
		}
	}
};
