$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

.chalk-main-view {
	text-align: center;
	.row {
		text-align: center;
		margin: 0 auto;
		div {
			#chalk-list {
				margin: 0 auto;
				display: block;
				position: absolute;
				text-align: center;
				li {
					.chalk-img {
						height: 30em;
						width: auto;
						margin-bottom: 3em;
					}
					h3 {
						font-family: "futura-pt";
						font-style: italic;
					}
					h4 {
						font-family: "futura-pt";
						font-weight: ligher;
					}
				}
			}
		}
	}
}



////////////////////// MEDIA-QUERIES
@media (min-width: em(767)) and (max-width: em(991)) {
};

@media (min-width: em(991)) and (max-width: em(1200)) {
};

@media (min-width: em(1200)) and (max-width: em(1300)) {
};

@media (min-width: em(1300)) and (max-width: em(1600)) {
};

@media (min-width: em(1600)) {
};
