.chalk-main-view {
  text-align: center; }
  .chalk-main-view .row {
    text-align: center;
    margin: 0 auto; }
    .chalk-main-view .row div #chalk-list li .chalk-img {
      height: 20em !important; }
    .chalk-main-view .row div #chalk-list li h3 {
      font-family: "futura-pt";
      font-style: italic; }
    .chalk-main-view .row div #chalk-list li h4 {
      font-family: "futura-pt";
      font-weight: ligher; }
